@use "../../../sass/components/main.scss" as *;
@use "../../../sass/abstracts/variables" as *;
@use "../../../sass/abstracts/mixins" as *;

.rents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  &__title {
    color: $white;
    margin: 1rem 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $lightGold;
  }
  &__title-sub-title {
    width: 100%;
    color: $lightGold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $lightGold;
  }

  &__avg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../Assets/images/london-skyline.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    height: 15rem;
    width: 29rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
  }
  &__avg:hover,
  &__per-sqft:hover {
    border: 5px solid $lightGold;
    color: $lightGold;
  }

  &__avg-subtitle,
  &__per-sqft-subtitle {
    color: $white;
    padding: 1rem 2rem;
  }
  &__avg-text {
    color: $white;
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  &__avg-text:hover {
    color: $lightGold;
    font-weight: 600;
    font-size: 1.2rem;
  }
  &__avg-subtitle:hover,
  &__per-sqft-subtitle:hover {
    color: $lightGold;
    font-weight: 600;
    font-size: 1.7rem;
  }
  &__per-sqft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../Assets/bethany-opler-h95mT1m9Zzs-unsplash.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;

    height: 15rem;
    height: 15rem;
    width: 29rem;
    border-radius: 50px;
  }
}
