@use "../../sass/components/main.scss" as *;
@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;
.pageHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  background-color: $lightgrey;
  &__logo-ctn {
    padding-bottom: 2rem;
  }
  &__logo {
    color: $lightGold;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    border: 3px solid $lightGold;
  }
  &__logo:hover {
    color: $white;
    background-color: $lightGold;
    border: 3px solid $darkGold;
  }
  &__nav-ctn {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  &__nav-services {
    font-size: 2rem;
    padding: 0 1.5rem;
  }
  &__nav-search {
    font-size: 2rem;
    padding: 0 1.5rem;
    margin-top: 0.5rem;
  }
  &__nav-compare {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  &__nav-login {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  &__nav-services:hover,
  &__nav-search:hover,
  &__nav-compare:hover,
  &__nav-login:hover {
    border-radius: 50px;
    background-color: $lightGold;
    color: $white;
  }
  @include mediaQuery(medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 3rem;
    padding-left: 3rem;

    &__logo-ctn {
      padding-top: 1rem;
    }
    &__nav-ctn {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: flex-end;
    }
    &__nav-services {
      padding: 0 1rem;
    }
    &__nav-search {
      margin: 0;
      padding: 0 1rem;
    }
    &__nav-compare {
      margin: 0;
      padding: 0 1rem;
    }
    &__nav-login {
      margin: 0;
      padding: 0 1rem;
    }
  }
  @include mediaQuery(large) {
    padding-right: 10rem;
    padding-left: 10rem;

    &__logo {
      font-size: 3.5rem;
      padding-top: 1.5rem;
      padding-bottom: 2rem;
      border: 4px solid $lightGold;
    }
    &__nav-services {
      font-size: 2.5rem;
      font-weight: 600;
    }
    &__nav-search {
      font-size: 2.5rem;
      font-weight: 600;
    }
    &__nav-compare {
      font-size: 2.5rem;
      font-weight: 600;
    }
    &__nav-login {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
}
