@use "../../sass/components/main.scss" as *;
@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;

.footer {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  border-top: 2px solid $lightGold;
  text-align: center;
  &__subtitle {
    color: $lightGold;
  }
  &__subtitle:hover {
    color: $white;
    background-color: $lightGold;
    border: 1px solid $darkGold;
    padding-top: 0 0.2rem;
  }
  &__socials {
    display: flex;
    flex-direction: column;
  }
  &__git-logo-ctn {
    display: flex;
    margin-right: 1rem;
    align-items: center;
  }
  &__git-logo {
    background-image: url("../../Assets/icons/GitHub-Mark-32px.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
  &__linkedin-ctn {
    display: flex;
    align-items: center;
  }
  &__linkedin-logo {
    background-image: url("../../Assets/icons/LI-Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
    width: 4rem;
    margin-right: 0.5rem;
  }

  &__top-ctn {
    display: flex;
    justify-content: space-evenly;
  }
  &__bottom-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contact {
    padding-right: 2rem;
  }
}
