// ? .. Colors .. ? \\

$lightgrey: #eaeaea;
$darkblack: #231f20;
$lightGold: #ad974f;
$darkGold: #8e793e;
$slate: #5c667e;
$white: #ffffff;

//breakpoints for sass mixins

$breakpoints: (
  medium: 768px,
  large: 1024px,
  huge: 1280px,
);
