@use "../../../../sass/abstracts/mixins" as *;
@use "../../../../sass/components/main.scss" as *;
@use "../../../../sass/abstracts/variables" as *;
.demo {
  &__ctn {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__barchart {
    width: 100%;

    padding-left: 1rem;
    margin-bottom: 5rem;
    margin-right: 0;
  }
  &__title-info-ctn {
    padding-bottom: 1rem;
  }
  &__title-info {
    border: 1px solid $lightGold;
    padding: 1.75rem;
    margin-bottom: 1.5rem;
  }
  &__page-title {
    color: $lightGold;
    padding-bottom: 1rem;
  }

  &__clear-btn {
    min-width: 8rem;
    min-height: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: $lightGold;
    background-color: $lightgrey;
    border: 2px solid $lightGold;
  }
  &__clear-btn:hover {
    background-color: $lightGold;
    color: $white;
    border: 2px solid $darkGold;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 2rem;
  }
  &__form-label {
    padding-bottom: 0.5rem;
  }
  &__form-input-rooms,
  &__form-input-postcode {
    width: 8rem;
    background-color: $lightgrey;
    border: 2px solid $lightGold;
    padding-bottom: 0.1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  &__form-input-rooms::placeholder,
  &__form-input-postcode::placeholder {
    color: $lightGold;
    text-align: center;
  }

  &__form-search-btn {
    margin-top: 1rem;
    background-color: $lightGold;
    color: $white;
    border: 1px solid $darkGold;
    min-width: 8rem;
    min-height: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  &__form-search-btn:hover {
    cursor: pointer;
    background-color: $darkGold;
    border: 2px solid $darkGold;
    color: $lightgrey;
  }
  &__title-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 5px solid $lightGold;
    margin-bottom: 2rem;
  }
  &__result-title {
    color: $lightGold;
  }
  &__result-subtitle {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;

    border: 4px solid $lightGold;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: fit-content;
  }
  &__result-sub-ctn {
    width: 28rem;
    height: 20rem;
    padding: 3rem 2rem;
    margin: 0 auto;
    border-radius: 25px;
    height: fit-content;
  }
  &__result-text {
    color: $white;
    font-size: 1.5rem;
  }
  &__result-header {
    border-bottom: 3px solid $lightGold;
    padding-bottom: 1rem;
  }
  &__result-postcode-type {
    font-size: 1.2rem;
  }
  &__result-social {
    padding: 2rem 2rem;
    background-image: url("../../../../Assets/images/evelyn-paris-QR_vT8_hBZM-unsplash.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 15px;
  }
  &__result-sub-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: $white;
    border-bottom: 5px solid $lightGold;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  &__result-mini-header {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: $white;
    border-bottom: 1px solid $lightGold;
    text-align: center;
  }
  &__result-education {
    padding: 2rem 2rem;
    background-image: url("../../../../Assets/images/terracedThree.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 15px;
  }
  &__result-age {
    padding: 2rem 2rem;
    background-image: url("../../../../Assets/images/terracedOne.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 15px;
  }
  &__result-commute {
    padding: 2rem 2rem;
    background-image: url("../../../../Assets/images/flatThree.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: cover;

    border-radius: 15px;
  }

  @include mediaQuery(medium) {
    &__result-sub-ctn {
      min-width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__result-social,
    &__result-commute,
    &__result-age,
    &__result-education {
      width: 45%;
    }
    &__result-age {
      margin-bottom: 0;
    }
    &__result-text {
      color: $white;
      font-size: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &__result-title {
      font-size: 3rem;
      line-height: 3rem;
    }
    &__result-subtitle {
      margin: 2.5rem auto;
      font-size: 3.5rem;
    }
    &__page-title {
      font-size: 2.5rem;
    }
    &__title-info-ctn {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
    }
    &__title-info {
      display: flex;
      flex-direction: column;
      width: 45%;
      padding-right: 1.5rem;
      border: 1px solid $lightGold;
      padding-left: 1.5rem;
      justify-content: center;
      margin-right: 1.5rem;
    }
    &__form {
      width: 35%;
    }
    &__title-info-text {
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      text-align: center;
    }
    &__form-label {
      font-size: 1.3rem;
    }
    &__clear-btn,
    &__form-input-postcode,
    &__form-search-btn,
    &__form-input-rooms {
      min-width: 11rem;
      min-height: 3rem;
      font-size: 1.6rem;
    }
    &__clear-btn {
      margin-top: 1rem;
    }
  }
  @include mediaQuery(large) {
  }
}
